# Created by .ignore support plugin (hsz.mobi)


.idea/
.ipynb_checkpoints/

*.pyc
*.pkl

stride/
src/stride
src/modeller


dbs/
data/
docs/
csvs/
hhblits/
skempi2/
src/bindprofx/
src/models/

3DCNN_data_process/
3DCNN_data/

src/__pycache__/
src/*.ipynb
