absl-py==0.1.4
altgraph==0.14
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
certifi==2018.4.16
cogent==1.9
decorator==4.3.0
dis3==0.1.1
enum34==1.1.6
fastcluster==1.1.24
funcsigs==1.0.2
future==0.16.0
futures==3.2.0
ipykernel==4.8.2
ipython==5.7.0
ipython-genutils==0.2.0
jupyter-client==5.2.3
jupyter-core==4.4.0
macholib==1.8
mock==2.0.0
numpy==1.13.3
pathlib2==2.3.2
pbr==3.1.1
pefile==2017.9.3
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.4.0
ptyprocess==0.5.2
Pygments==2.2.0
PyInstaller==3.3
python-dateutil==2.7.3
pyzmq==17.0.0
scandir==1.7
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
tf-nightly-gpu==1.5.0.dev20171110
tornado==5.0.2
traitlets==4.3.2
wcwidth==0.1.7
